# Telegram Bot Token
TELEGRAM_TOKEN=8700124191:AAE6qSSouLjlDxPWwoFObJORMbDotsby9co

# Yandex Cloud API Key
YANDEX_API_KEY=AQVNy7Dm-dvQRzejHvH0383oHTZhhW2fda95I558

# Prompt ID для Deepseek
PROMPT_ID=fvt621uiq1fftiu5qomu
